/* colors blue: #3dbfc4 brown: #D8C09A dark blue: #1E50D7 light blue: #99C7E3 light brown: #F0E8D4 yellow: #F7CF1C */

/* font2: Arial, Helvetica, sans-serif */

/* TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif */

html, body {
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:  1px 13px 15px #3f3f3f48, 6px 9px 19px rgba(0, 0, 0, 1);;
    color: black;
    z-index: 1;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
}

h3 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.blur{
    filter: blur(.45px);
    -webkit-filter: blur(.45px);
    text-shadow: -2px 0px 0px rgba(0, 0, 0, 0.15), 1px 1px 0px rgba(0, 0, 0, 0.16);;
}

@media (max-width: 900px) {
    .blur{
        filter: blur(.25px);
        -webkit-filter: blur(.25px);
        text-shadow: none;
    }
  html { font-size: 14px; }
}
@media (max-width: 400px) {
    .blur{
        filter: blur(.05px);
        -webkit-filter: blur(.05px);
        text-shadow: none;
    }
  html { font-size: 12px; }
}

.header {
    width: 100vw;
    height: 40%;
    max-height: 300px;
    position: absolute;
    top: 0;
    background: rgb(61,191,196);
    background: linear-gradient(180deg, #4BA5BC 23%, rgba(61, 192, 196, 0) 96%);
    z-index: -1;
}

.nav{
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.nav-item {
    flex: 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    background: rgb(224,211,190);
    background: linear-gradient(180deg, rgba(236,228,216,1) 0%, rgba(216,192,154,1) 38%, rgba(217,194,158,1) 62%, rgba(236,228,216,1) 100%);
}

.img-container {
    width: 15%;
    height: 100%;
    /* display: inline-block; */
}

.img-container img {
    width: 100%;
    vertical-align: middle;
}

.nav-item .border {
    position: absolute;
    /* margin-right: auto; */
    top: 20%;
    height: 60%;
    width: 25%;
    /* left: -60px; */
    border-left: solid #00000078 .5px;
}

.testimonial {
    display: flex;
    width: 95%;
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}

.testimonial div {
    flex: 50%;
}

.testimonial .quote {
    font-size: 2.5em;
    width: 80%;
    text-align: center;
}

.testimonial .quote img {
    width: 100%;
    text-align: center;
}

.testimonial .pic img {
    width: 50%;
    /* min-width: 300px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.transparency {
    /* padding: 5px 0; */
    /* background: rgb(130,154,186); */
    /* background: linear-gradient(180deg, rgba(130,154,186,1) 0%, rgba(51,95,153,1) 30%, rgba(51,95,153,1) 70%, rgba(130,154,186,1) 100%); */
}

.transparency img {
    width: 100%;
}

.transparency h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 200;
    color: #F8CB37;
}

.spacer {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.block p{
    padding: 10px;
}

.experiment-header {
    background: #9AB2CA;
    border-radius: 10px;
}

.brown {
    background: #EFE3D0;
}

.button{
    width: 80%;
    margin: auto;
    background: #9AB2CA;
    -webkit-box-shadow: 5px 5px 15px 5px #5B5B5B; 
    box-shadow: 5px 5px 15px 5px #5B5B5B;
    margin-bottom: 50px;
}

.button a {
    font-size: 4rem;
    padding: 50px;
    display: block;
    text-align: center;
}